[init]
	defaultBranch = main
[user]
	name = Rafael Jacov Medel
	email = medelrafjac@gmail.com
[core]
	editor = nvim
	autocrlf = input
    pager = delta
[alias]
	stats = status -s
[pull]
	ff = only

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
